/* MIX */

body{
  font-family: 'Roboto', sans-serif;
}

/* header */
.top-header{
  height: 50px;
  line-height: 50px;
}
/* logo */
.top-header img{
  height:24px;
  margin-bottom: 4px;
}
/* /logo */

/* menu */
.top-header ul li{
  display:inline-block;
}
.top-header ul li a{
  text-transform: capitalize;
  font-size: 14px;
  color:#031C4E;
  font-weight: 500;
}
.top-header ul li a:hover{
  text-decoration: none;
}
.top-header ul li:not(:last-child){
  margin-right:16px;
}
/* layout button sign up */
.second_menu .button_signup{
  background-color: #fff;
  border:1px solid #1C7AFF;
  color:#1C7AFF;
}
/* /layout button sign up */

/* hamburger button */
.hamburger__btn{
  background-color: transparent;
  font-size:18px;
  color:#1C7AFF;
}
/* /hamburger button */

/* /menu */

/* /header */
