/* MIX */

body{
  font-family: 'Roboto', sans-serif;
}
.bg_white{
  background-color: #fff;
}
.bg_blue{
  background-color: #579AFF;
}
.text_white{
  color:#fff;
}
/* header */
.top-header{
  height: 50px;
  line-height: 50px;
}
/* logo */
.top-header img{
  height:24px;
  margin-bottom: 4px;
}
/* /logo */

/* menu */
.top-header ul li{
  display:inline-block;
}
.top-header ul li a{
  text-transform: capitalize;
  font-size: 14px;
  color:#031C4E;
  font-weight: 500;
}
.top-header ul li a:hover{
  text-decoration: none;
}
.top-header ul li:not(:last-child){
  margin-right:16px;
}
/* layout button sign up */
.second_menu .button_signup{
  background-color: #fff;
  border:1px solid #1C7AFF;
  color:#1C7AFF;
}
/* /layout button sign up */

/* hamburger button */
.hamburger__btn{
  background-color: transparent;
  font-size:18px;
  color:#1C7AFF;
}
/* /hamburger button */

/* /menu */

/* layout hero */
.hero{
  background-image:url("../img/hero_bg.svg");
  padding: 50px 0;
}
.principal_title{
  font-size: 62px;
  font-weight: bold;
  color:#fff;
  margin-top:0;
}
.hero p{
  font-size: 18px;
  font-weight: 500;
  color:#B7C9FE;
}

/* layout form */
.form__hero{
  border-radius:6px;
  max-width: 400px;
  margin: 0 auto;
}
.form__hero h2{
  color:#031C4E;
  font-size: 24px;
  font-weight: 600;
}

.form__hero h3{
  color:#1C7AFF;
  font-weight: 600;
  font-size: 24px;
  margin-top:10px;
}
.form__hero input{
  border: 1px solid #f1f1f1;
  box-shadow: none;
}
.form__hero input::placeholder{
  color:#7D7D7D;
  font-weight: 500;
}
.form__hero p{
  font-size:14px;
  color:#7D7D7D;

}
.form__hero a{
  text-decoration: underline;
}
/* /layout form */

/* layout button form */
.button__form{
  width:100%;
}
.button__google{
  background-image: url("../img/google-icon.png");
  background-repeat: no-repeat;
  background-position: 5px;
  background-size: 25px;
  color:#7D7D7D;
  font-weight: 500;
  border: 1px solid #f1f1f1;
  box-shadow: 2px 2px #80808017;
}

/* /layout button form */

/* /layout hero */

/* /header */

/* main */

/* layout customers section */
.customers{
  background-color:#F3F5F9;
  padding: 30px 0;
}
.customers h4{
  font-size:14px;
  text-transform: uppercase;
  font-weight:500;
  color:#75809C;
  margin-bottom:20px;
}
.customers img{
  max-width:100%;
}
.customers a{
  margin-top:20px;
  display:inline-block;
  font-weight: 600;
  font-size:12px;
  color:#579AFF;
}
/* /layout customers section */

/* layout deploy section */
.deploy{
  padding: 50px 0;
}
.small_container{
  max-width:900px;
  margin:0 auto;
}
.deploy h2{
  color:#031C4E;
  font-size: 32px;
  font-weight: 600;
}
.deploy p{
  font-size: 18px;
  font-weight: 500;
  color: #75809C;
  margin-bottom:50px;
}
.deploy li{
  list-style-type: none;
  border-left: 1.5px solid lightgrey;
  padding: 10px 10px;
}
.deploy li a{
  color:#75809C;
  font-weight:500;
  font-size: 16px;
}
.deploy li a:hover{
  text-decoration: none;
}
.prova>div{
  height:100px;
  background-color:red;
  border:1px solid black;
}
/* /layout deploy section */

/* main */
